* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #ff6787;
  background-image: linear-gradient(
    0deg,
    #ff6787 0%,
    #fe8e7b 22%,
    #ffb68c 49%,
    #c7dac7 75%,
    #55cbd3 100%
  );
}

.App section {
  height: auto;
  box-sizing: content-box;
  min-height: 85vh;
}

.App {
  text-align: center;
}

.App header {
  background: rgba(85, 203, 211, 0.4);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App footer {
  color: solid white;
  height: 110px;
  background: rgba(255, 103, 135, 0.4);
}

.App header h1 {
  color: white;
}

.App h1 {
  font-size: 36px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
